.vscode
.vs
Library/
testFile/
Temp/
Logs/Packages-Update.log
Assets/DlibFaceLandmarkDetector
Assets/OpenCVForUnity
Assets/Live2D
Packages/
packages.config
Assets/StreamingAssets/models
Assets/StreamingAssets/models.meta
Assets/MaterialUI
Assets/Plugins
Assets/Scripts/Helper/DXHelper/DXHelper.cs
Assets/Scripts/Helper/DXHelper/DXHelper.cs.meta
Localization/~$AMG.xlsx
