.vscode
.vs
Library/
testFile/
Temp/
Logs/Packages-Update.log
Assets/DlibFaceLandmarkDetector
Assets/OpenCVForUnity
Assets/Live2D
Packages/
packages.config
Assets/StreamingAssets/models
Assets/StreamingAssets/models.meta
*.meta
Assets/MaterialUI
Assets/UnityCam
Assets/Plugins/x86_64/ExternalWindowPlugin.dll
Assets/Plugins
Assets/Scripts/DXController
Assets/Scripts/BallManage.cs
Assets/Scripts/PhysicsTest.cs
Assets/Scenes/MainSettings.lighting
